<form [formGroup]="form" (ngSubmit)="login()">
  <div class="form-field">
    <input formControlName="username" placeholder="Username" />
    <p
      *ngIf="form.controls.username.touched && form.controls.username.invalid"
      class="error"
    >
      Username is required
    </p>
  </div>

  <div class="form-field">
    <input formControlName="password" type="password" placeholder="Password" />
    <p
      *ngIf="form.controls.password.touched && form.controls.password.invalid"
      class="error"
    >
      Password is required
    </p>
  </div>

  <button type="submit">Login</button>

  <p *ngIf="error">{{ error }}</p>
</form>
