<a routerLink="/task/add">+ ADD TASK</a>

<hr />

<input type="text" placeholder="Search tasks..." (input)="onSearch($event)" />
<hr />

<div class="empty-state" *ngIf="tasks.length === 0">No Tasks Available</div>

<div class="tasks">
  <app-task-item
    *ngFor="let task of tasks; trackBy: trackById"
    [task]="task"
    (delete)="deleteTask($event)"
  >
  </app-task-item>
</div>

<!-- Why trackBy? Without it: List updates → Angular re-renders ALL items ❌ With
trackBy: Angular compares IDs → Only changed item updates -->

<!-- Without trackBy → repaint entire wall
With trackBy → repaint only damaged area -->
