/* You can add global styles to this file, and also import other style files */
body {
  background-color: #262e2e;
  color: #fff;
}

a {
  color: aqua;
  padding: 5px;
  text-decoration: none;
  border: 1px solid aqua;
  border-radius: 4px;
}
