/* You can add global styles to this file, and also import other style files */
body {
  background: #262e2e;
  color: #fff;
}

input {
  padding: 8px 10px;
}

button {
  padding: 8px 10px;
}

select {
  padding: 8px 10px;
}
